{% extends '::base.html.twig' %}

{% block adminlink %}
<li>
	<a href="{{ path('_adminpresentation') }}" class="{ActiveItem}"><span class="l"></span><span class="r"></span><span class="t">Editer Accueil</span></a>
</li>
<li>
	<a href="{{ path('contact') }}" class="{ActiveItem}"><span class="l"></span><span class="r"></span><span class="t">Editer Contact</span></a>
</li>
<li>
	<a href="{{ path('galerie') }}"><span class="l"></span><span class="r"></span><span class="t">Editer Galerie Photo</span></a>
</li>
<li>
	<a href="{{ path('galerie') }}"><span class="l"></span><span class="r"></span><span class="t">Valider les commentaires</span></a>
</li>
{% endblock %}