{% extends '::frontBase.html.twig' %}
{% block body %}
<div class="art-post">
    <div class="art-post-body">
        <div class="art-post-inner">
            <h2 class="art-postHeader">
                Bienvenue
            </h2>
            <div class="art-postContent" id="txtPres">
            {{ entity.textacceuil }}
            </div>

            <div class="cleared"></div>
        </div>
    </div>
</div>
{% endblock %}

