{% extends '::adminBase.html.twig' %}

{% block body -%}
    <h1>Rubrique edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('secured_rubrique') }}">
            Retour à la liste des rubriques
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
