{% extends app.user ? "::adminBase.html.twig" : "::frontBase.html.twig" %}

{#{% extends '::frontBase.html.twig' %}#}
{% block body %}
<div class="art-post">
    <div class="art-post-body">
        <div class="art-post-inner">
            <h2 class="art-postHeader">
                Bienvenue
            </h2>
            <div class="art-postContent" id="txtPres">
	    {% if entity != null %}
		{{ entity.textacceuil | raw }}
	    {% endif %}
            </div>
            <div class="cleared"></div>
        </div>
    </div>
</div>
{% endblock %}

