#containerPictureWidget
{
        width:1000px;
        background: white;
	height: 670px;
}

#panel-right
{
	width: 20%;
}

#panel-left
{
	width: 80%;
}

#pictureStaring
{
	width: 100%;
}

#title{
	height: 50px;
	text-align: center;
}

#title-text{
	display: block;
	padding-top: 12px;
	font-size: 20px;
}

#next,#previous
{
	position: absolute;
        width:50px;
	height: 100px;
	cursor: pointer;
	color: white;
	font-size: 50px;
	opacity: 0.7;
	font-family: cursive;
	font-weight: 800;
	top: 50%;
	padding-top: 30px;
	opacity: 0;
	display: inline;
}
#next
{
	right: 215px;
	background-image: url(../images/pagineButton-right.png);
	text-align: right;
}
#previous
{
	left:17px;
	background-image: url(../images/pagineButton-left.png);
}

#sliderNext,#sliderPrevious
{
	
	position: absolute;
        width:50px;
	height: 30px;
	padding-top: 5px;
	font-weight: 800;
	font-size: 20px;
	top: 35%;
	z-index: 1;
	cursor: pointer;
	color: white;
}
#sliderNext
{
	right: 0px;
	background-image: url(../images/pagineButton-right.png);
	text-align: right;
}

#sliderPrevious
{
	background-image: url(../images/pagineButton-left.png);
}

#bottomNavigator
{
	height: 100px;
	width: 791px;
	margin-top: 2px;
	overflow: hidden;
	position: absolute;
	background-color: black;
}

#rubrique,#commentaire
{
	width: 100%;
	border-top: 3px gray solid;
	height: 60px;
}

#rubrique
{
	overflow: auto;
}
#rubrique ul
{
	list-style: none;
	padding-left: 5px;
}

#rubrique li
{
	cursor: pointer;
}

#bottomNavigator img
{
	height: 100px;
}

#commentaire-panel-top
{
	overflow: auto;
	height: 374px;
	font-size: 12px;
}

#containerCommentaire
{
	font-size: 10px;
}
.rowCommentaire
{
	width: 150px;
}
.boxCommentaire
{
	background-color: #EAF6FF;
	margin-bottom: 2px;
	padding: 2px;
}

.timeCommentaire
{
	color: #858C91;
	font-size: 9px;
}

#commentaire-panel-bottom
{
	border-top: 3px gray solid;
	border-bottom: 3px gray solid;
	height: 100px;
}

.slideImage img
{
	cursor: pointer;
}